<%- include('../partials/head') %>
  </head>
  <body class="bg-gray-100  items-center justify-center h-screen">

   <%- include('../partials/nav') %>

    <div class="text-center px-4">
      <h1 class="text-4xl font-extrabold bg-gradient-to-r from-green-500 to-blue-400 bg-clip-text text-transparent drop-shadow-lg pb-6 "">My Bookings</h1>
     
      <p class="text-gray-600 mb-6">Bookings will appear here.</p>
     
    </div>
  </body>
</html>
